.build/
.tools/
lib/bin/
lib/obj/
asm.models/bin/
asm.models/obj/
test/bin/
test/obj/
tools/bin/
tools/obj/
codegen/codegen.respack/src
codegen/codegen.llvm/src
codegen/codegen.common/src
codegen/codegen.intel/src
